/** Navigation style */

.header__top-bar {
    display: none;
    height: 45px;
    padding-top: .5rem;
    padding-left: 2%;
    padding-right: 2%;
    @include screen-greater-than(tablet)
    {
        display: flex;
        justify-content: space-between;
    }
}