/** Buttons style */

.btn {
    color: white;
    background-color: black;
    border-radius: $borderRadius;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 1.25rem !important;
    box-shadow: 7px 7px 0 -3px #0D0D0D !important;
}
