/** Buttons style */

.btn {
    color: white;
    background-color: black;
    border-radius: $borderRadius;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1.25rem !important;
    box-shadow: 7px 7px 0 -3px #0D0D0D !important;
    text-decoration: none;
    border: 1px solid $yale-blue;
    height: 40px;
    &__hot-cta {
        background-color: $tomato-jam;
        &:hover {
            background-color: $tomato-jam-light;
        }
    }
    &__cta {
        background-color: $yale-blue;
        &:hover {
            background-color: $pacific-cyan;
        }
    }
}
